@{
    ViewBag.Title = "Dashobard";
}

<h2>Dashobard</h2>


<h2>You are successfully Logged In</h2>

<h3>Email: @ViewBag.Email</h3>
<h3>
    Role:

    @foreach (var role in Roles.GetRolesForUser(ViewBag.Email))
    {
        @role <br />
    }
</h3>

<h4><a href="/Home/ChangePassword">Change Password</a></h4>
