@{
    ViewBag.Title = "Index";
}


<br /><br />

<p>We are using ASP.NET Membership tables to create Roles, create users</p>

<p>To create ASP.NET Membership tables into your SQL Database. You will have to run (aspnet_regsql.exe) on your computer. <br />You can find this exe to the this location--> C:\Windows\Microsoft.NET\Framework64\v4.0.30319 </p>

<p>Please follow steps in this tutorial --><a href="https://www.c-sharpcorner.com/UploadFile/3d39b4/learn-membership-services-part-1-installing-Asp-Net-members/">https://www.c-sharpcorner.com/UploadFile/3d39b4/learn-membership-services-part-1-installing-Asp-Net-members/</a> </p>

<p>After you have executed (aspnet_regsql.exe) you can now create roles and create users.</p>





