
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form action="/Home/Login" method="post">
    @Html.AntiForgeryToken()
    <table>
        <tr>
            <td>Enter Email:</td>
            <td><input type="email" name="txtEmail" id="txtEmail" required /></td>
        </tr>
        <tr>
            <td>Enter Password:</td>
            <td><input type="password" name="txtPassword" id="txtPassword" required /></td>
        </tr>

        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td> <input type="submit" value="Log in" /></td>
        </tr>
    </table>
</form>

<br /><br />
<p style="color:#08b235;font-weight:500;">@ViewBag.Success</p>
<p style="color:#ff0000;font-weight:500;">@ViewBag.ErrorMessage</p>

